@using WebApplicationHospital.Data.Models
@model IEnumerable<Patient>
string base54;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>

    <button onclick="openFileExplorerAndConvertToBase64(document.getElementById('selectedImage'))">Выбрать файл</button>
    <br />
    <br />
    <div id="imageBox">
        <p>Изображение будет отображаться здесь</p>
        <img id="selectedImage" src="#" alt="Выбранное изображение" width="250" height="200">
    </div>

    <h1>@ViewBag.AllPatients</h1>
    @{
        foreach (var patient in Model)
        {
            <div>
                ФИО: @patient.LastName @patient.FirstName @patient.Patronymic
                @if (patient.PatientPhoto != null)
                {
                    <img src="data:image/jpeg;base64,@patient.PatientPhoto" alt="Image from byte array" width="250" height="200">
                }
                else
                {
                    <p>No image available</p>
                }
                <br /> <br /> <br /> <br />
            </div>
        }
    }

    <script>
        function openFileExplorerAndConvertToBase64(imageElement) {
            var input = document.createElement('input');
            input.type = 'file';
            input.accept = 'image/*';
            input.onchange = function (e) {
                var file = e.target.files[0];
                var reader = new FileReader();
                reader.onload = function () {
                    imageElement.src = reader.result;
                    // После загрузки изображения, конвертируем его в base64
                    convertImageToBase64(imageElement);
                }
                reader.readAsDataURL(file);
            }
            input.click();
        }

        function convertImageToBase64(imageElement) {
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            canvas.width = imageElement.width;
            canvas.height = imageElement.height;

            context.drawImage(imageElement, 0, 0);

            base64 = canvas.toDataURL('image/jpeg');
            console.log(base64); 
        }


    </script>
</body>
</html>
