@using WebApplicationHospital.Data.Models
@model IEnumerable<Patient>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1>@ViewBag.AllPatients</h1>
    @{
        foreach (var patient in Model)
        {
            <div>
                ФИО: @patient.LastName @patient.FirstName @patient.Patronymic
                @if (patient.PatientPhoto != null)
                {
                    <img src="data:image/jpeg;base64,@patient.PatientPhoto" alt="Image from byte array" width="250" height="200">
                }
                else
                {
                    <p>No image available</p>
                }
                <br /> <br /> <br /> <br />
            </div>
        }
    }
</body>
</html>
